doctype html
html
    head
        title Titre
    script(src="https://code.jquery.com/jquery-3.4.1.js")
    script(src='./javascript')
       
    body
        h1 mon titre

        p(style=`color:${colordd};`) le cours du bitcoin est 
        p(class='result') #{bitcoinCours}
        a(id='rollButton') Salut